<%# サイドバーの上部 %>

<div class="side_bar_header">

  <div class="header_name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
      <a href="#">tom</a>
  </div>
  <div class="chat_create">
      <a href="#">チャットを作成する</a>
  </div>
    
</div>

<div class="rooms">
  <div class="room">
    <a href="#">Room1</a>
  </div>
   <div class="room">
    <a href="#">Room2</a>
  </div>
   <div class="room">
    <a href="#">Room3</a>
  </div>
   <div class="room">
    <a href="#">Room4</a>
  </div>
   <div class="room">
    <a href="#">Room5</a>
  </div>
   <div class="room">
    <a href="#">Room6</a>
  </div>
   <div class="room">
    <a href="#">Room7</a>
  </div>
     
     <div class="room">
    <a href="#">Room8</a>
  </div>
   <div class="room">
    <a href="#">Room9</a>
  </div>
</div>
